$font-color: #f5f5f5;
$font-lightColor: rgba(245, 245, 245, 0.6);

$bg-white: rgba(245, 245, 245, 0.3);
$bg-input: rgba(245, 245, 245, 0.8);
$bg-chat: rgba(245, 245, 245, 0.1);

$main-dark: #364f6b;
$main-dark-disabled: rgba(54, 79, 107, 0.8);
$dark-level4-overlay: rgba(25, 44, 64, 0.8);

$dark-level1: #4e6782;
$dark-level2: #253e59;
$dark-level3: #20354d;
$dark-level4: #192c40;

$color-green: #3fc1c9;
$btn-hover: #fc5185;
