$font-color: #f5f5f5;

$bg-white: rgba(245,245,245,0.3);
$bg-input: rgba(245,245,245,0.8);
$bg-chat: rgba(245,245,245,0.1);

$main-dark: #364F6B;
$main-dark-disabled: rgba(54,79,107,0.8);
$dark-level4-overlay: rgba(25, 44, 64, 0.8);

$dark-level1: #4E6782;
$dark-level2: #253E59;
$dark-level3: #20354D;
$dark-level4: #192C40;

$color-green: #3FC1C9;
$btn-hover: #FC5185;
