@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import "color";

body * {
  font-family: 'Noto Sans KR', sans-serif;
  color: $font-color;
  letter-spacing: 1px;
  outline: none;
}

body {
  background: $main-dark;
}

//인덱스
.bg-airBalloon {
  position: absolute;
  z-index: -1;
  top: 10%;
}

.welcome, .join-us, .btn-signUp, .btn-login, .social-head {
  text-transform: uppercase;
  letter-spacing: 6px;
}

.bg-airBalloon, .img-logo {
  -webkit-user-drag: none;
  user-select: none;
}

//로그인

.wrap-login, .wrap-join {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  @at-root section.join, section.login {
    background: $bg-white;
    padding: 45px 40px;
  }
}

.welcome, .join-us, .wrap-guest {
  display: block;
  text-align: center;
  margin: 15px 0;

  @at-root .guest-login {
    border-bottom: 1px $font-color solid;
  }
}

// input

.wrap-join {
  width: 500px;
}

.wrap-login, .wrap-join {
  input, button[class^='btn-'] {
    text-align: center;
    height: 45px;
    font-size: 16px;
    padding-bottom: 3px;

    &:last-child {
      margin-top: 10px;
      margin-bottom: 16px;
    }
  }

  input {
    width: 100%;
    background: $bg-input;
    color: $main-dark-disabled;
    margin: 4px 0 10px 0;

    &:focus, &:hover {
      background: $font-color;
      color: $main-dark;
    }
  }
}

// join
.btn-signUp, .btn-login {
  background: #F97CA2;
  width: 100%;
  display: block;

  &:hover, &:focus {
    background: $btn-hover;
  }
}

.link-login, .link-join{
  display: block;
  text-align: center;
  margin-bottom: 5px;
}
.link-join{
  margin-bottom: 25px;
}

// 메인페이지
.wrap-main{
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.channels, .members{
  background: $dark-level3;
  width: 24%;
}
.title-members{
  width: 310px;
  height: 72px;
  padding: 20px 40px ;
}
.chatting{
  flex-grow: 1;
}

// 채널 리스트

.wrap-btn{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 18px 15px 40px;
}
.item-member, .item-chan{
  display: flex;
  align-items: center;
  span{
    max-width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 15px;
  }
}

.item-chan, .item-member{
  &:hover{
    background: $dark-level4;
  }
}
.item-chan, .item-member{
  padding: 12px 40px;
}
.create-chan{
  display: block;
  background: $bg-chat;
  width: 42px;
  height: 42px;
}



.img-container{
  width: 42px;
  height: 42px;
  background-size: cover;
}

// 임시 이미지 할당
.soonduck{
  background-image: url('./img/chan-avatar.png');
}
.real-soonduck{
  background-image: url('./img/soonduck.png');
}
.otaku{
  background-image: url('./img/profile1.png');
}